@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {

    /* Catppuccin's Machiato color scheme 🐱 */
    /* START */

    /* --rosewater: #f4dbd6; */
    /* --flamingo: #f0c6c6; */
    /* --pink: #f5bde6; */
    --mauve: #c6a0f6;
    /* --red: #ed8796; */
    /* --maroon: #ee99a0; */
    /* --peach: #f5a97f; */
    /* --yellow: #eed49f; */
    /* --green: #a6da95; */
    /* --teal: #8bd5ca; */
    /* --sky: #91d7e3; */
    --sapphire: #7dc4e4;
    /* --blue: #8aadf4; */
    /* --lavender: #b7bdf8; */

    --text: #cad3f5;
    /* --subtext1: #b8c0e0; */
    /* --subtext0: #a5adcb; */

    /* --overlay2: #939ab7; */
    /* --overlay1: #8087a2; */
    /* --overlay0: #6e738d; */
    /* --surface2: #5b6078; */
    /* --surface1: #494d64; */
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    /* --crust: #181926; */
    
    /* END */

    --shadow: rgba(138, 173, 244, 0.24) 0px 10px 20px, rgba(138, 173, 244, 0.28) 0px 6px 6px;;

    --secondary: var(--base);
    --primary: var(--mantle);
    --terciary: var(--surface0);
    --accent: var(--sapphire);
    --accent-alt: var(--mauve);

    --border-radius: 8px;
    --border: solid 1px var(--accent);

    --transition-animation: cubic-bezier(.68, -0.55, .27, 1.55);
}

html::-webkit-scrollbar {
    width: 10px;
  }
  
html::-webkit-scrollbar-track {
    background-color: rgb(190, 190, 190);
}

html::-webkit-scrollbar-thumb {
    background: #797979;
    border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    user-select: none;
    -webkit-user-select: none;

    background-color: var(--primary);
    color: var(--text);
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
}

.wrapper {
    padding: 1rem;
}

.content {
    width: 50%;
    padding: 1rem 1rem 2rem 1rem;

    background-color: var(--secondary);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: var(--shadow);
}

.change-language {
    align-self: flex-start;

    display: inline-flex;
    align-items: center;

    border: var(--border);
    border-radius: var(--border-radius);

    background-color: var(--primary);
    color: var(--text);

    transition: all 500ms var(--transition-animation);
}

.change-language:hover {
    background-color: var(--terciary);
    
    transform: scale(1.05);
    box-shadow: var(--shadow);
}

.divider {
    border-bottom: solid 1px var(--accent);
}

@media (max-width: 600px) {
    .content {
        width: 90%;
    }
}