.name {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: 0.1rem solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
        typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.profile {
    width: 90%;
    margin-top: 2rem;
}

.profile h2 {
    margin: 0;
}

.profile-pic {
    width: 200px;
    border-radius: 50%;

    box-shadow: 0 0 .2rem var(--text),
            0 0 .2rem var(--text),
            0 0 2rem var(--accent),
            0 0 0.8rem var(--accent),
            0 0 2.8rem var(--accent),
            inset 0 0 1.3rem var(--accent);

    margin-bottom: 2rem;

    animation: flicker 1.5s infinite alternate;
}

.profile-pic-wrapper {
    position: relative;
}

.lil-badge, .company {
    position: absolute;
    left: 75%;
    top: 60%;
    
    border-radius: 50%;
    height: 60px;
    
    padding: 0;
    transition: all 0.5s var(--transition-animation);
}

.lil-badge:hover {
    transform: scale(1.1);
    box-shadow: var(--shadow);
}

@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow: 0 0 .2rem var(--text),
            0 0 .2rem var(--text),
            0 0 2rem var(--accent),
            0 0 0.8rem var(--accent),
            0 0 2.8rem var(--accent),
            inset 0 0 1.3rem var(--accent);
    
    }
    
    20%, 24%, 55% {
  
        box-shadow: 0 0 .2rem var(--text),
            0 0 0rem var(--text),
            0 0 1.4rem var(--accent),
            0 0 0.2rem var(--accent),
            0 0 2.2rem var(--accent),
            inset 0 0 0.7rem var(--accent);
  
    }
}

.desc {
    text-align: center;
    max-width: 80%;
}