.skill-list-wrapper {
    width: 90%;
}

.skill-list-wrapper .title {
    text-align: center;
}

.skill-list {
    padding: 0.5rem 0.5rem 2rem 0.5rem;

    display: flex;
    flex-direction: row;

    overflow-y: scroll;

    gap: 1rem;
}

.skill {
    width: 90px;
    padding: 1rem 0.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: var(--border-radius);

    border: var(--border);

    transition: all 0.5s var(--transition-animation);
}

.skill:hover {
    background-color: var(--terciary);
    transform: scale(1.05);
    box-shadow: var(--shadow);
}

.skill img {
    width: 85px;
}
